<% content_for :title do %>MogileFs<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/plos.png"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mogile" data-view="Mogile" data-title="FS1" style="background-color:#f3E511"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="fs2" data-view="Fs2" data-title="FS2" style="background-color:#A52A2A"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="fs3" data-view="Fs3" data-title="FS3" style="background-color:#7FFF00"></div>
    </li>


  </ul>
  </div>